/* 1. Colour logic - using variables to quickly be able to change colour codes everywhere*/
:root {
    /* Main Colors */
    --main-dark: #1A3A5A;  /* Inkish blue) */
    --main-light: #4A6A8A; /* Lighter shade of main blue */

    /* Opposite Colors, unsure, dont like the orangy */
    --opposite-dark: #A05000;  /* Dark orange */
    --opposite-light: #D08030; /* Lighter  */
    --red-dark: #A03050;   /* Dark red */
    --red-light: #D06080;  /* Lighter shade of red */

    /* Complementary */
    --complement: #E6E0D4;  /* Soft beige, bg  */

    /* Additional Shades */
    --main-darker: #102030;  /* Darker ink, just in case contrast */
    --text-dark: #333333;   /* Man text dark tone */
    --text-light: #FFFFFF;  /* Main text on dark backgrounds */
}

/* 2. Base styles */

/*Base body*/
body {
    color: var(--complement);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Base main currently used as is for homepage*/
main {
    display: flex;
    flex: 1;
}

/*Base flex-container for postfeed - base according to homepage postfeed*/
.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
    width: 90%;
    align-items: center;
}

/*General empty column*/
.column {
    flex: 1;
    color: var(--main-light);
    padding: 10px;
    border: 1px solid #FFFFFF;
}

/* 3. Typography*/

h1, h2, h3, p  {
    color: var(--main-dark);
    margin: 5;
}

h1 ~ p  {
    color: var(--main-light);
}

time {
    color: var(--red-dark);
}

.nav-container ul li a {
    color: var(--opposite-light);
    text-decoration: none;
    font-size: 1.1em;
}

.nav-container ul li a:hover {
    background-color: var(--complement); 
    color: var(--main-dark); 
    text-decoration: none; 
}


/* 4. Layout - modified where necessary / where base can't be used / not defined as base*/

/*Add posts page main*/
.post-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
}

/*Login page main*/
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* 6. Components */

.postfeed {
    flex: 2;
    padding: 10px;
    align-items: center;
    border: 1px solid #ccc;
}

.nav-container {
    background-color: var(--main-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.nav-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-container ul li {
    margin-left: 2em;
    text-align: justify;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-link {
    color: var(--opposite-light);
    display: flex;
    align-items: center;
}

.user-icon {
    color: var(--opposite-light);
    margin-right: 1em;
}

.post-image {
    max-width: 100%; 
    height: auto; 
    width: 550px; 
}

footer {
    background-color: var(--complement);
    padding: 20px;
    text-align: center;
}


/* 7. Responsiveness */

/*Mobile view*/
@media (max-width: 768px) {

    /*Home Page index.html*/
    main {
        flex-direction: column;
        width: 100%;
        }

    .flex-container {
        flex-direction: column;
    }

    .column, .postfeed {
        width: 90%;
    }

    /*Login Page responsiveness*/
    .login-box {
        width: 90%;
        padding: 20px;
    }

    .input-field {
        height: 35px;
        font-size: 13px;
    }

    #login-button {
        padding: 10px;
    }
}

/*Would be good to use some sort of a logic for the CSS in general. Helps to locate more easily.*/

/* Login screen stuff */

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--complement); 
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px; 
    max-width: 90%; 
    text-align: center;
}

.login-box h2 {
    color: var(--main-dark);
}
.login-box h2 ~ p { /* Use a General Sibling Selector (e.g., div ~ p) */
    color: var(--main-light); 
}

.login-box label {
    color: var(--main-dark);
    font-weight: bold;
}

.input-field {
    width: 60%; 
    margin-bottom: 10px; 
    padding: 3px; 
}
.login-box > form > input { /* Use a Child Selector (e.g., div > p) */
    border: 2px solid var(--main-darker); 
}
.input-field + .input-field { /* Use an Adjacent Sibling Selector (e.g., div + p)*/
    border-style: double;
    
}

#login-button {
    width: 100%;
    padding: 10px;
    background-color: grey; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed; 
    opacity: 0.5; 
    transition: background-color 0.3s ease, opacity 0.3s ease; 
}


#login-button:hover {
    background-color: #aaa; 
}


#email:valid + #password:valid + #login-button {
    background-color: var(--main-dark); 
    cursor: pointer; 
    opacity: 1; 
    pointer-events: auto; 
}


#email:valid + #password:valid + #login-button:hover {
    background-color: var(--main-darker); 
}

/* Post screen */

.post-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--complement); 
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px; 
    max-width: 90%; 
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    resize: vertical; 
}

.textarea-container,
.file-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
}


.textarea-container p,
.file-container p {
    margin: 0 10px 0 0; 
    font-weight: bold; 
}

#post-button {
    width: 100%;
    padding: 10px;
    background-color: grey; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed; 
    opacity: 0.5; 
    transition: background-color 0.3s ease, opacity 0.3s ease; 
    background-color: var(--main-dark); 
    cursor: pointer; 
    opacity: 1; 
    pointer-events: auto; 
}

#post-button:hover {
    background-color: var(--main-darker);
}


#file-button {
    width: 100%;
    padding: 10px;
    background-color: grey; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed; 
    opacity: 0.5; 
    transition: background-color 0.3s ease, opacity 0.3s ease; 
}
