/* 1. Colour logic - using variables to quickly be able to change colour codes everywhere*/
:root {
    /* Main Colors */
    --main-dark: #1A3A5A;  /* Inkish blue) */
    --main-light: #4A6A8A; /* Lighter shade of main blue */

    /* Opposite Colors, unsure, dont like the orangy */
    --opposite-dark: #A05000;  /* Dark orange */
    --opposite-light: #D08030; /* Lighter  */
    --red-dark: #A03050;   /* Dark red */
    --red-light: #D06080;  /* Lighter shade of red */

    /* Complementary */
    --complement: #E6E0D4;  /* Soft beige, bg  */
    --complement-unavailable: #999999; /* to gray out*/

    /* Additional Shades */
    --main-darker: #102030;  /* Darker ink, just in case contrast */
    --text-dark: #333333;   /* Man text dark tone */
    --text-light: #FFFFFF;  /* Main text on dark backgrounds */
}